<header>
  <h1 class="shifted">{{community_name}}</h1>
  <h2 class="shifted center-text">Code of conduct</h1>
  <!--
    It's a good idea to include a code of conduct to set rules for your community and establish it as a safe space for everyone. Be sure to add a link somewhere on your site.
    
    Check out botwiki.org/coc#notes for inspiration.
  -->
  <p class="shifted">Coming soon!</p>
</header>