<header>
  <h1 class="shifted">{{community_name}}</h1>
  <p class="shifted center-text">{{community_description}}</p>
</header>
<form class="shifted" method="POST" action="/invite">
  <input type="email" name="email" placeholder="Your email, please!" required>
  <button type="submit">Join us on <img class="logo-slack" src="/images/slack_monochrome_white.svg">!</button>
</form>
<p class="center-text shifted">
  Already a member? <a href="{{slack_url}}">Sign in</a>.
</p>
<footer class="shifted">
  <p>&copy; 2017 {{community_name}}</p>
  <!-- Maybe include links to your social media profiles, etc. -->
</footer>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
